@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    /* A viewheight é calculada baseada na porcentagem da área de visualização do conteúdo. */
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    
    /* Deixa as letras maiúsculas destacadas no texto. */
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;

    /* Espaçamento entre linhas. */
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    /* Shorthand. */
    background: #A66038 right center/cover fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.26);
}

section.imagem > p {
    display: inline-block;

    /* Coloquei mais padding. */
    padding: 20px;
    background-color: #52301cb0;
    color: white;
    text-shadow: 1px 1px 0px black;
}

section#img-01 {
    background-image: url(../img/background001.jpg);
}

section#img-02 {
    background-image: url(../img/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}