@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    /* A viewheight é calculada baseada na porcentagem da área de visualização do conteúdo. */
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;

    /* Deixa as letras maiúsculas destacadas no texto. */
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;

    /* Espaçamento entre linhas. */
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: #A66038;
    color: white;
}

section.imagem > p {
    /* Medida responsiva. */
    max-width: 400px;
    background-color: #52301c;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}