body {
    background: rgb(122, 122, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
}

#container {
    display: flex;
    justify-content: space-between;
}

input {
    text-decoration: none;
    border: none;
    background-color: rgb(122, 122, 255);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input:hover {
    background-color: rgb(223, 223, 0);
    color: black;
    transition: 0.5s
}

select {
    overflow: hidden;
    border: none;
    width: 10rem;
    height: 13.6rem;
    background-color: rgb(122, 122, 255);
}

option {
    text-align: center;
    background-color: white;
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
}

option:hover {
    background-color: rgb(223, 223, 0);
    color: black;
    transition: 0.5s
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}