@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --default-font: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    width: 100vw;
    height: 15vh;
    
    font-family: var(--default-font);
    
    background-color: lightgray;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 1em 2em;
    font-weight: bolder;
}

nav {
    margin: 1em 2em;
}

a {
    gap: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
}

a:last-child {
    padding: 0.5em 1em;
    margin-left: 1em;
    border-radius: 0.4em;

    color: white;
    background-color: blue;
    
    text-transform: capitalize;
}