:root {
    --background: rgb(37, 2, 70);
    --main-color: rgba(240, 248, 255, 0.466);
    --highlights: blueviolet;
    --hover: rgba(255, 255, 0, 0.555);
    --input: rgba(118, 187, 248, 0.795);
}

body {
    background: var(--background);
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
}

input, select {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: var(--input);
}

div#flex > p {
    font-weight: bold;
}

input:hover, select:hover {
    background-color: var(--hover);
    color: white;
    transition: 0.2s;
}

select {
    overflow: hidden;
    width: 20rem;
    height: 10rem;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong {
    background-color: var(--highlights);
    padding: 5px;
    border-radius: 5px;
}

strong:hover {
    color: black;
    transition: 0.2s;
    background-color: var(--hover)
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}